<nav class="nav-bar">
    <div class="logo">
        <img src="assets/logo-especialista.png" alt="Meu Especialista" />
    </div>


    <div class="menu">
        <a routerLink="/buscar">Buscar</a>
        <a class="ativo" routerLink="/perfil"> Meu perfil</a>
        <a routerLink="">Sair</a>
    </div>
</nav>


<div class="container-perfil">
    <h1>Meu Perfil</h1>


    <form>
        <div class="tipo-usuario">
            <p>Tipo de usuário:</p>
            <strong>{{usuario.tipo}}</strong>
        </div>


        <div class="campo">
            <label>Nome Completo:</label>
            <input type="text" name="nome" [(ngModel)]="usuario.nome" placeholder="Nome Completo:"
                [disabled]="!editando">
        </div>


        <div class="campo">
            <label>E-mail:</label>
            <input type="text" name="email" [(ngModel)]="usuario.email" placeholder="E-mail:" [disabled]="!editando">
        </div>

        <div class="duas-colunas">
            <label>Senha:</label>
            <input type="text" name="senha" [(ngModel)]="usuario.senha" placeholder="Senha:" [disabled]="!editando">

            <label>Confirmar Senha:</label>
            <input type="text" name="confirmarSenha" [(ngModel)]="usuario.confirmarSenha" placeholder="Confirmar Senha"
                [disabled]="!editando">
        </div>

        <div class="duas-colunas">
            <ng-container *ngIf="usuario.tipo ==='medico'">
                <label>CRM:</label>
                <input type="text" name="crm" [(ngModel)]="usuario.crm" placeholder="CRM:" [disabled]="!editando">

                <label>Especialidade:</label>
                <input type="text" name="especialidade" [(ngModel)]="usuario.especialidade" placeholder="Especialidade"
                    [disabled]="!editando">
            </ng-container>


            <ng-container *ngIf="usuario.tipo === 'paciente'">
                <label>CPF:</label>
                <input type="text" name="cpf" [(ngModel)]="usuario.cpf" placeholder="CPF:" [disabled]="!editando">
            </ng-container>
        </div>


        <div class="duas-colunas">
            <label>Cidade:</label>
            <input type="text" name="cidade" [(ngModel)]="usuario.cidade" placeholder="Cidade:" [disabled]="!editando">

            <label>Endereço:</label>
            <input type="text" name="endereco" [(ngModel)]="usuario.endereco" placeholder="Endereço:"
                [disabled]="!editando">
        </div>


        <div class="duas-colunas">
            <label>Telefone:</label>
            <input type="text" name="telefone" [(ngModel)]="usuario.telefone" placeholder="Telefone:"
                [disabled]="!editando">

            <label>Convênio:</label>
            <input type="text" name="convenio" [(ngModel)]="usuario.convenio" placeholder="Convênio:"
                [disabled]="!editando">
        </div>


        <div class="botoes">


            <button type="button" *ngIf="!editando" (click)="habilitarEdicao()">
                Editar
            </button>


            <button type="button" *ngIf="editando" (click)="salvar()">
                Salvar
            </button>


            <button type="button" *ngIf="editando" (click)="cancelar()">
                Cancelar
            </button>
        </div>
    </form>

</div>