<div class="login-container">
  <div class="login-esquerda">
    <div class="logo-box">
      <img src="assets/logo-especialista.png" alt="Meu Especialista" />
    </div>
  </div>

  <div class="login-direita">
    <div class="form-wrapper">
      <h1>Login</h1>

      <div class="error-alert" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>

      <div class="input-group">
        <label>E-mail</label>
        <input
          type="email"
          name="email"
          [(ngModel)]="loginData.email"
          placeholder="seu@email.com"
        />
      </div>

      <div class="input-group">
        <label>Senha</label>
        <input type="password" name="password" [(ngModel)]="loginData.senha" placeholder="******" />
      </div>

      <a href="#" class="forgot">Esqueceu a senha?</a>

      <button type="button" class="btn btn-entrar" (click)="logar()" [disabled]="loading">
        <div class="spinner" *ngIf="loading"></div>
        {{ loading ? 'Entrando...' : 'Entrar' }}
      </button>

      <button type="button" class="btn btn-cadastro" routerLink="/cadastro">Cadastrar-se</button>
    </div>
  </div>
</div>
